HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/




# --- Sensitive Data (CRITICAL) ---
# Never push your actual database credentials
application-dev.properties
application-local.properties
*.env

# --- Operating System Files ---
.DS_Store
Thumbs.db

# --- Log Files ---
*.log
logs/


# --- Docker Data (Infrastructure) ---
# Prevents local database and monitoring data from being pushed
scm_postgres_data/
prometheus_data/
grafana_data/

# --- jOOQ / Maven Generated Sources ---
# We usually ignore generated code so it doesn't cause merge conflicts
# Your team (or your CI/CD) should generate these during the build
target/generated-sources/jooq/
